#root 
  margin: 0 auto
  text-align: center

  main
    width: 100vw

    h1.title
      color: green
      position: absolute
      top: 0
      left: 1rem
    
    button.open-dialog
      border: none
      border-radius: 5px
      padding: 1rem
      cursor: pointer



