#root 
  max-width: 1280px
  margin: 0 auto
  padding: 2rem
  text-align: center

  main
    position: relative
    
    h1.title
      color: green
      position: fixed
      top: 0
    
    button.open-dialog
      border: none
      border-radius: 5px
      padding: 1rem



